header {
    background: $transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: background-color 0.3s ease;
    background-color: #333333e8;
    .logo {
        width: 200px;
        object-fit: cover;
    }
    .container {
        height: $header;
        @media screen and (max-width:$breakpoint-xs){
            height: $header-mobile;
        }
        nav {
            ul {
                li {
                    border-bottom: 1px solid $transparent;
                    transition: $ease;
                    padding: 3px 0;
                    a {
                        color: $white;
                        font-size: 16px;
                        font-weight: 500 !important;
                        text-transform: uppercase;
                        &:hover {
                            color: $pizazz;
                        }
                    }
                }
            }
        }
    }

    .burguer {
        color: white;
        font-size: 40px;
    }

    .nav-mobile {
        position: absolute;
        top: 0;
        height: 100vh !important;
        width: 100vw !important;
        left: 0;
        background-color: #afb42bdf;
        flex-direction: column;
        .navbar-toggler {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .nav {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            .nav-item {
                p{
                    font-size: 22px;
                    font-weight: 800;
                }
            }
        }
    }
}