.otf {
    height: 100vh;
    width: 100vw;
    .animation-container {
        position: relative;
        width: 50vh;
        height: 50vh;
        z-index: 20;
        .blue {
            transition: all 0.1s ease;
            border-radius: 50%;
            width: 50vh;
            height: 50vh;
            background-color: $dodger;
            z-index: 2;
            position: absolute;
            top: 0;
            right: 0;
        }
        .orange {
            transition: all 0.1s ease;
            z-index: 1;
            width: 40vh;
            height: 40vh;
            position: absolute;
            top: 60%;
            left: 50%;
            background-color: $pizazz;
            border-radius: 50%;
        }
        filter: blur(30px);
    }
    .container {
        z-index: 50;
        position: relative;
    }
    .codi {
        animation: float 5s infinite;
    }
    .btn-primary {
        width: 200px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}