.portfolio-container{
    z-index: 999999;
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(30vh) translateX(5vw);
    }
}

.blue-ball {
    transition: all 0.1s ease;
    border-radius: 50%;
    width: 60vh;
    height: 60vh;
    background-color: $dodger;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    filter: blur(30px);
    animation: floating 10s ease-in-out infinite;
}

.orange-ball {
    transition: all 0.1s ease;
    border-radius: 50%;
    width: 50vh;
    height: 50vh;
    background-color: $pizazz;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(30px);
    animation: floating 10s ease-in-out infinite;
}



