.second-screen {
    .card-container {
        background-color: $blackGrey;
        border-radius: 14px;
        height: 100%;
        max-height: 450px;
        .codi {
            position: absolute;
            top: 0;
            left: -250px;
            width: 400px;
            animation: float 5s infinite;
        }
    }
}